<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <app-header></app-header>
  <div class="reddit-body">
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9">
          <!-- Display Posts-->
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">
          <app-side-bar></app-side-bar>
          <app-subreddit-side-bar></app-subreddit-side-bar>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
